body {
  background-color: #ffffff;
}

/* CommonButton */
.btn-custom-light {
  background-color: #ebedf0;
  border-color: #ebedf0;
  transition: all 0.3s ease;
}

.btn-custom-light:hover {
  background-color: #e2e6ea;
  border-color: #d4d9df;
}

.btn-custom-light:active {
  background-color: #dae0e5;
  border-color: #d3d9df;
}

/* ReturnWordButton */
.btn-custom-light {
  background-color: #ebedf0;
  border-color: #ebedf0;
  transition: all 0.3s ease;
}

/* Стили при наведении */
.btn-custom-light:hover {
  background-color: #e2e6ea;
  border-color: #d4d9df;
}

/* Стили для активного состояния */
.btn-custom-light:active {
  background-color: #dae0e5;
  border-color: #d3d9df;
}
